
{% extends 'listings/base.html' %}
<!-- cette balise indique que "hello.html" hérite de "base.html"-->

{% block content %}

    <h1>Hello Django !</h1>
    
    <a href="{% url 'band-add' %}">Construire un nouveau groupe</a>

    <p>
        J'ai 
        {% if bands|length < 5 %}
            peu de 
        {% elif bands|length < 10 %}
            quelques
        {% else %}
            beaucoup de 
        {% endif %}
            groupes préférés qui sont au nombre de {{bands|length}} :
    </p>
    <ul>
        {% for band in bands %}
            <li>
                <a href="{% url 'band-detail' band.id %}">{{band.name|upper}}</a>
                - <a href="{% url 'band-update' band.id %}">[modifier]</a>
                - <a href="{% url 'band-delete' band.id %}">[supprimer]</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}